{% extends 'saveNow/mainn.html' %}

{% block content %}
    <div class="div2">
        <p class="firstclass" align="center"><b>ADMIN LOGIN</b></p>
        <form name="myform" method="POST" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{form.username}}
            {{form.password}}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <input align = "center" type="submit" name = "submit" value="Login">
        </form>
    </div>
{% endblock %}